{% extends 'base/main.html' %}
{% block title %}About me{% endblock %}

{% block content%}

<div class="container-fluid mt-5 mb-2">
    <h1 class="text-center fw-bold mt-4 display-1" style="color: #333533">About me</h1>
</div>

<div class="container-fluid p-3">
    <p class="fw-bold h2 text-center" style="color: #CFDBD5">Hello everyone!</p>
    
    <br>

    <p class="fw-bold h4" style="color: #333533">Firstly, my name is Facundo Coronel and I am Web Developer. "Study time" is my personal timetable which I use to keep track of my times. I divide them between formal hours which are my university/course hours and informal hours whice are the moments when I solve exercises by my own.</p>
    
    <br>
    
    <p class="fw-bold h4" style="color: #333533">Secondly, I want to inform that "Study Time" is in a beta version. At the moment, it doesn't have many features and I am the only who can use it but I will update the page soon. I will add the functionality to create an user and to keep track of your own times.</p>
    
    <br>

    <p class="fw-bold h4" style="color: #333533">Lastly, I leave the link for my online CV. You have my contact details below.</p>

</div>

<div class="container-fluid d-flex justify-content-center mt-4 mb-5 pb-5">
    <div class="col-md-4">
        <div class="card bg-dark text-light">
            <h3 class="card-header fw-bold text-center">Personal portfolio</h3>
            <div class="card-body">
              <h6 class="card-title fw-bold mb-4">In my portfolio you can see all my projects and my studies. In addition, you have my certificates and more things. If you want to ask me something, you can write me a letter to the email which is in the contact details. I hope that you enjoy the page!</h6>
              <span class="d-flex justify-content-center"><a href="#" class="btn btn-light fw-bold disabled">Visit</a>
              </span>
            </div>
          </div>
    </div>
</div>

{% endblock %}