{% extends 'base/main.html' %}
{% block title %}About us{% endblock %}

{% block content%}

<div class="container-fluid mt-5 mb-2">
    <h1 class="text-center fw-bold mt-4 display-1" style="color: #333533">About us</h1>
</div>

<div class="container-fluid mt-2 fw-bold">
    <h1 class="text-center text-light fw-bold">Study Time - Your Personal Planner</h1>
    <h3 class="lead text-center fw-bold text-light  mb-3">Keep track of your study hours and stay organized!</h3>
    <p class="fw-bold mb-4">Study Time is a planner designed to help you manage your time effectively. Whether you are a student attending classes or working on assignments, this planner will assist you in keeping a record of your formal hours (class hours) and informal hours (homework or self-study time).</p>
    <p class=" mb-4">To use Study Time, simply enter the date and time for your formal and informal study sessions. The planner will allow you to review and organize your study hours, ensuring that you make the most of your time.</p>
    <p class=" mb-4">Stay on top of your study schedule with Study Time - the ultimate tool for tracking your study progress and staying focused on your academic goals. Start planning and optimizing your study routine today!</p>

    <p class="text-center mt-5">The website was developed by <a class=" link-light link-underline link-underline-opacity-0" href="https://github.com/FacundoCG">Facundo Coronel</a>. You can visit my GitHub to see my other projects or to contact me if you wish.</p>
</div>


{% endblock %}