{% extends 'base/main.html' %}
{% block title %}Study Time{% endblock %}

{% block content%}

<div class="container-fluid">
  <h1 class="text-center fw-bold mt-5 mb-3 display-1" style="color: #333533">Welcome, {{request.user}}!</h1>
  <h2 class="text-center fw-bold mb-4"  style="color: #333533">Last seven days:</h2>
</div>

{% if last_times %}
<div class="row m-3 mb-5">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-light table-bordered border-dark">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Formal Study Hours</th>
          <th scope="col">Informal Study Hours</th>
          <!-- <th scope="col">Total</th> -->
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for study in last_times %}
        <tr>
          <td>{{study.date}}</td>
          <td>{{study.formal_study_hours}}</td>
          <td>{{study.informal_study_hours}}</td>
          <td><span class="d-flex justify-content-center"><a href="{% url 'update' study.id %}"><button class="btn btn-lg"><img src="../../static/img/pen.svg"></button></a></span></td>
          <!-- <td>{{study.formal_study_hours}}+{{study.informal_study_hours}}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
{% else %}
  <h3 class="fw-bold text-danger text-center">There are no records in your account.</h3>
{% endif %}

{% endblock %}

