{% extends 'base/main.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<div class="container-fluid mt-5 mb-2">
    <h1 class="text-center fw-bold mt-4 display-1" style="color: #333533">Login</h1>
</div>

<div class="container-fluid  mt-4 mb-5">
    <div class="row d-flex justify-content-center mb-5">
       <div class="col-md-5">
          <form class="p-3 rounded bg-light" method='POST'>
  
              {% csrf_token %}
               <div class="form-group">
                  <label for="exampleFormControlInput1" class="form-label fw-bold">Username</label>
                  {{form.username}}
               </div>
               <div class="form-group">
                  <label for="exampleFormControlInput1" class="form-label mt-3 fw-bold">Password</label>
                  {{form.password}}
               </div>
               
               <span class="d-flex justify-content-center mt-3">
                <p>Don't you have an account yet? <a class="fw-bold link-danger link-underline link-underline-opacity-0" href="{% url 'sign-up' %}">Sign Up</a></p>
               </span>

               <span class="d-flex justify-content-center mt-4">
                  <input class="btn btn-dark btn-lg fw-bold mx-4" type="submit" value="Login"/>
                  <button type ="button" class="btn btn-warning btn-lg fw-bold" onclick="window.history.go(-1);">Back</button>
              </span> 

              {% if messages %}
                <div class="alert alert-danger mt-4">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

          </form>
      </div>
    </div>  
 </div>


{% endblock %}